.add_btn{
    position: absolute;
    float: right;
    right: 30px;
    bottom: 5px;
}

.del{
    color:red;
}

.edit{
    color:lightgreen;
}

.login{
    text-decoration: none!important;
    font-weight: bold;
    color:grey
    
}

.edituser{
    text-decoration: none!important;
    font-weight: bold;
    color:#fff;
    
}

.spinner{
    width: 100vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}